<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

<h1><%= @spare.name %></h1>
	
<img src="<%= @spare.link %>" alt="">
<br>
<br>

<h3><%= @spare.description %></h3>

<i><%= @spare.price %> лей</i>

</body>
</html>